<footer class="footer">
  <section class="footer__block block container">
    <h3 class="block__titel">- get in touch with us -</h3>
    <p class="block__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
      vollisky inceptos mollisestor.
    </p>
    <div class="block__link link">
      <a class="link__rss" href="#"
        ><img src="@img/icons/rss-icon.png" alt="photo"
      /></a>
      <a class="link__facebook" href="#"
        ><img src="@img/icons/facebook-icon.png" alt="photo"
      /></a>
      <a class="link__twitter" href="#"
        ><img src="@img/icons/twitter-icon.png" alt="photo"
      /></a>
      <a class="link__dribbble" href="#"
        ><img src="@img/icons/dribbble-icon.png" alt="photo"
      /></a>
      <a class="link__pinterest" href="#">
        <img src="@img/icons/pinterest-icon.png" alt="photo"
      /></a>
    </div>

    <div class="block__address adress">
      <p class="adress__city">Moonshine St. 14-05 Light City /</p>
      <a class="adress__tel" href="T. +00 (123) 456 78 90   ">
        T. +00 (123) 456 78 90 /</a
      >
      <a class="adress_email" href="mailto:first.last@email.com">
        first.last@email.com</a
      >
    </div>
  </section>
</footer>
