<header class="header">
  <nav class="header__nav container">
    <ul class="nav__menu">
      <li class="nav__item"><a class="nav__link" href="#">home</a></li>
      <li class="nav__item"><a class="nav__link" href="#">about us</a></li>
      <li class="nav__item"><a class="nav__link" href="#">our journal</a></li>
      <li class="nav__item"><a class="nav__link" href="#">projects</a></li>
      <li class="nav__item"><a class="nav__link" href="#">news</a></li>
      <li class="nav__item"><a class="nav__link" href="#">features</a></li>
      <li class="nav__item"><a class="nav__link" href="#">contact</a></li>
    </ul>
    <ul class="nav__menu__burger">
      <li class="nav__item"><a class="nav__link__burger" href="#">home</a></li>
      <li class="nav__item">
        <a class="nav__link__burger" href="#">about us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link__burger" href="#">our journal</a>
      </li>
      <li class="nav__item">
        <a class="nav__link__burger" href="#">projects</a>
      </li>
      <li class="nav__item"><a class="nav__link__burger" href="#">news</a></li>
      <li class="nav__item">
        <a class="nav__link__burger" href="#">features</a>
      </li>
      <li class="nav__item">
        <a class="nav__link__burger" href="#">contact</a>
      </li>
    </ul>
    <div class="nav__burger">
      <svg
        class="burger__exit logo"
        width="44"
        height="37"
        viewBox="0 0 44 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_22_120)">
          <rect width="44" height="37" fill="black" />
          <rect
            x="27.8033"
            y="24.7175"
            width="17"
            height="2"
            transform="rotate(-135 27.8033 24.7175)"
            fill="white"
          />
          <rect
            x="15.7825"
            y="23.3033"
            width="17"
            height="2"
            transform="rotate(-45 15.7825 23.3033)"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_22_120">
            <rect width="44" height="37" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <svg
        class="burger__log logo"
        width="44"
        height="37"
        viewBox="0 0 44 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_22_47)">
          <rect width="44" height="37" fill="black" fill-opacity="1" />
          <rect x="13" y="13" width="17" height="2" fill="white" />
          <rect x="13" y="17" width="17" height="2" fill="white" />
          <rect x="13" y="21" width="17" height="2" fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_22_47">
            <rect width="44" height="37" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </nav>
</header>
