.footer {
  text-align: center;
  background-color: #000;
  // .footer__block

  &__block {
    max-width: 684px;
  }
}
.block {
  // .block__titel

  &__titel {
    padding-top: 65px;
    color: #fefefe;
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
  }

  // .block__text

  &__text {
    color: #b9b9b9;
    line-height: 175%;
    padding-top: 22px;
    padding-bottom: 37px;
  }
}

.link {
  // .link__rss
  display: flex;
  justify-content: center;
  column-gap: 10px;
  &__pinterest,
  &__rss,
  &__facebook,
  &__twitter,
  &__dribbble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50px;
  }

  &__rss {
    border: 2px solid #f8902e;
  }

  // .link__facebook

  &__facebook {
    border: 2px solid #39599f;
  }

  // .link__twitter

  &__twitter {
    border: 2px solid #45b0e3;
  }

  // .link__dribbble

  &__dribbble {
    border: 2px solid #d97ab0;
  }

  // .link__pinterest

  &__pinterest {
    border: 2px solid #cc212c;
  }
}
.adress {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 70px;
  padding-top: 34px;
  @media (width<640px) {
    flex-direction: column;
    row-gap: 10px;
  }
  // .adress_email
  &_email,
  &__city,
  &__tel {
    color: #b9b9b9;
    line-height: 162%px;
  }
}
