.header__nav {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 37px;
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 100%;
  margin-top: 23px;
  @media (width <782px) {
    display: none;
  }
  @media (width>780px) {
    padding: 0 60px;
  }
  @media (width>1200px) {
    padding: 0 167px;
  }
}
.nav__item {
  display: flex;
  flex: 1 1 100%;

  .nav__link,
  .nav__link__burger {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    color: $color-text-title;
    padding-left: 12px;
    font-size: 11px;
    line-height: 200%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    @media (width>780px) {
      padding: 0;
    }
  }
  .nav__link:hover {
    color: $color-hover-menu;
  }
  .nav__link__burger:hover {
    color: $color-hover-menu;
    background-color: #e5e5e5;
  }
}

.nav__burger {
  position: relative;
  cursor: pointer;
  .burger__log,
  .burger__exit {
    position: absolute;
    right: 0px;
    top: calc(50% - 37px / 2);
  }
  @media (width >780px) {
    display: none;
  }
}
.nav__menu__burger {
  position: absolute;
  top: 37px;
  right: 25px;
  display: flex;
  display: none;
  flex-direction: column;
  background-color: #f5f5f5;
  min-width: 182px;
  min-height: 208px;
  animation: opacity 2s ease;

  @keyframes opacity {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .nav__link__burger {
    justify-content: start;
  }
  @media (width>780px) {
    display: none;
  }
}
