.instagram {
  width: 100%;
  margin-top: 49px;
  background: rgb(248, 248, 248);
  padding-bottom: 49px;
  // .instagram__wraper

  &__wraper {
  }

  // .instagram__block

  &__block {
    display: flex;
    justify-content: space-between;
  }

  // .instagram__photo
}

.block {
  // .block_titel
  &_titel,
  &__link {
    padding-top: 47px;
    padding-bottom: 35px;
  }

  // .block__link
  &__link {
    color: $color-text-title;
    font-size: 12px;
    font-weight: 700;
    line-height: 170%;
    text-transform: uppercase;
    @media (width <480px) {
      display: none;
    }
  }
}
.photo {
  display: flex;
  gap: 10px;
  @media (width <1200px) {
    :last-child {
      display: none;
    }
    @media (width <480px) {
      :not(:first-child) {
        display: none;
      }
    }
  }
  .photo__instagram {
    width: calc(25% - 7px);
    @media (width <1200px) {
      width: calc(33.33% - 7px);
    }
    @media (width <480px) {
      width: 100%;
    }
  }
}
