.post {
  .post__img {
    width: 100%;
    max-width: 1170px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .post__titel {
    margin-bottom: 24px;
  }
}
.post__recent {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @media (width>1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 50%;
    column-gap: 55px;
  }
  .recent__box {
    max-width: 555px;
    .box__img {
      width: 160px;
      height: 140px;

      margin-bottom: 10px;
      @media (width<780px) {
        margin-right: 20px;
      }
      @media (width>780px) {
        margin-right: 20px;
      }
    }
    @media (width>780px) {
      display: flex;
      align-items: start;
    }
  }

  .recent__box-last {
    display: none;
    @media (width>780px) {
      display: flex;
      align-items: start;
    }
  }
}

.box__info {
  .box__info__titel {
    color: $color-text-title;
    font-size: 14px;
    font-weight: 700;
    line-height: 214%;
    margin-bottom: 1px;
  }
  .box__info__text {
    color: $color-text;
    font-size: 12px;
    line-height: 166%;
  }
  .box__infi__info {
    color: $color-info;
    font-size: 12px;
    line-height: 185%;
    display: none;
    @media (width>780px) {
      padding-top: 14px;
      display: flex;
    }
  }
}
