@import "./font";
@import "./input_placeholder";
@import "./reset_button";
@import "./reset_input";
@import "./visually_hidden";
@mixin titel() {
  color: $color-text-title;
  font-size: 14px;
  font-weight: 700;
  line-height: 157%;
  text-transform: uppercase;
}
