@import "../variables/variables";
@import "../mixins/font";
@import "../mixins/mix";
@import "reset";
.g-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
  @media (width > 950px) {
    max-width: 1330px;
    padding: 0 80px;
  }
}

body {
  font-family: Roboto;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  font-style: normal;
  font-weight: 400;
}

.titel {
  @include titel;
}
