<section class="instagram">
  <div class="instagram__wraper container">
    <div class="instagram__block">
      <h2 class="block_titel titel">- Latest Instagram Shots</h2>
      <a class="block__link" href="#">go to our instagram page -</a>
    </div>
    <div class="instagram__photo photo">
      <img
        class="photo__instagram"
        src="@img/sectionInstagram/post-1.png"
        alt="photoInstagram"
      />
      <img
        class="photo__instagram"
        src="@img/sectionInstagram/post-2.png"
        alt="photoInstagram"
      />
      <img
        class="photo__instagram"
        src="@img/sectionInstagram/post-3.png"
        alt="photoInstagram"
      />
      <img
        class="photo__instagram"
        src="@img/sectionInstagram/post-4.png"
        alt="photoInstagram"
      />
    </div>
  </div>
</section>
