<section class="post container">
  <img class="post__img" src="@img/front/front1200px.png" alt="" />
  <h2 class="post__titel titel">- our Recent posts</h2>
  <div class="post__recent">
    <div class="recent__box">
      <img class="box__img" src="@img/sectionPosts/post1.png" alt="post1" />
      <div class="box__info">
        <h3 class="box__info__titel">Aenean Adipiscing Etiam Vestibulum</h3>

        <p class="box__infi__text">Photography, Journal / 9 Comments</p>
        <p class="box__infi__info">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="recent__box">
      <img class="box__img" src="@img/sectionPosts/post2.png" alt="post2" />
      <div class="box__info">
        <h3 class="box__info__titel">Aenean Adipiscing Etiam Vestibulum</h3>

        <p class="box__infi__text">Photography, Journal / 9 Comments</p>
        <p class="box__infi__info">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="recent__box">
      <img class="box__img" src="@img/sectionPosts/post3.png" alt="post3" />
      <div class="box__info">
        <h3 class="box__info__titel">Aenean Adipiscing Etiam Vestibulum</h3>

        <p class="box__infi__text">Photography, Journal / 9 Comments</p>
        <p class="box__infi__info">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="recent__box recent__box-last">
      <img class="box__img" src="@img/sectionPosts/post4.png" alt="post4" />
      <div class="box__info">
        <h3 class="box__info__titel">Aenean Adipiscing Etiam Vestibulum</h3>

        <p class="box__infi__text">Photography, Journal / 9 Comments</p>
        <p class="box__infi__info">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>
